<h1>Articles listing page</h1>

<table>
  <thead>
    <tr>Title</tr>
    <tr>Description</tr>
    <tr>Actions</tr>
  </thead>
  
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td>Placeholder</td>
    <% end %>
  </tbody>
</table>