<div class="home main-content">

  <div class="left-content">
    <h1>LOREM IPSUM</h1>
    <p class="subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
  </div>

  <div class="right-content img1">
    <button><%= link_to  "Browse Article", articles_path %></button>
  </div>
</div>
